/* マウスオーバー, マウスアウト */
/* .box1 {
    background-color: #FF0000;
    height: 200px;
    width: 200px;
} */

/* class属性を追加/解除 */
/* .box1 {
    background-color: #FF0000;
    height: 200px;
    width: 200px;
}
.box1-ext {
    border: 10px solid black;
} */

